.banner {
  position: relative;
  height: 220px;
  border-radius: 25px;
  background: url('/fond2.webp') center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  color: white;
  font-size: 2rem;
  font-weight: 500;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}
