.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 50px;
  padding: 50px;
  background: #f6f6f6;
  border-radius: 25px;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .gallery {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background: none;
  }
}
