.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1240px;
  width: 100%;
  margin: 40px auto 20px auto;
  padding: 0 20px;
  font-family: 'Montserrat', sans-serif;

  &__logo {
    width: 210px;
  }

  &__nav {
    display: flex;
    gap: 40px;
  }

  &__link {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-weight: 500;
    font-size: 18px;

    &.active {
      text-decoration: underline;
    }
  }
}

@media (max-width: 768px) {
  .header {
    width: 90%;
    margin: 20px auto;

    &__logo {
      width: 145px;
    }

    &__nav {
      gap: 20px;
    }

    &__link {
      text-transform: uppercase;
      font-size: 14px;
    }
  }
}

@media (max-width: 480px) {
  .header {
    width: 100%;
    margin: 15px auto;

    &__logo {
      width: 120px;
    }

    &__nav {
      gap: 15px;
    }

    &__link {
      font-size: 12px;
    }
  }
}
