.slideshow {
  position: relative;
  height: 415px;
  border-radius: 25px;
  overflow: hidden;
  margin-bottom: 30px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  button {
    background: none;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    &.left {
      left: 20px;
    }
    &.right {
      right: 20px;
    }

    img {
      width: 48px;
    }
  }

  p {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-weight: 500;
  }
}

@media (max-width: 768px) {
  .slideshow {
    height: 255px;
    border-radius: 10px;

    button img {
      width: 24px;
    }

    p {
      font-size: 12px;
      bottom: 10px;
    }
  }
}

@media (max-width: 320px) {
  .slideshow {
    height: 220px;

    button img {
      width: 20px;
    }

    p {
      font-size: 10px;
      bottom: 6px;
    }
  }
}
