.about-banner {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto 40px auto;
  border-radius: 25px;
  overflow: hidden;

  img {
    width: 100%;
    height: 223px;
    object-fit: cover;
  }
}

.about-collapse {
  max-width: 1023px;
  width: 100%;
  margin: 0 auto 80px auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}


/* TABLETTES */
@media (max-width: 1024px) {
  .about-banner {
    width: 90%;
    height: 200px;
    border-radius: 20px;

    img {
      border-radius: 20px;
    }
  }

  .about-collapse {
    width: 85%;
    gap: 25px;
    margin-bottom: 50px;
  }
}

/* MOBILE */
@media (max-width: 768px) {
  .about-banner {
    width: 92%;
    height: 160px;
    border-radius: 15px;
    margin-bottom: 30px;

    img {
      border-radius: 15px;
    }
  }

  .about-collapse {
    width: 90%;
    gap: 20px;
    margin-bottom: 40px;
  }
}

/* PETIT MOBILE (jusqu’à 320 px) */
@media (max-width: 420px) {
  .about-banner {
    width: 94%;
    height: 130px;
    border-radius: 10px;
    margin-bottom: 25px;

    img {
      border-radius: 10px;
    }
  }

  .about-collapse {
    width: 94%;
    gap: 15px;
    margin-bottom: 30px;
  }
}
